@charset "UTF-8"; /* 文字コードの指定 */

/* Base */
body {
font-family: 'Noto Sans JP', sans-serif;
color: #4c4c4c;
line-height: 1.75;
}
a,
a:hover {
text-decoration: none;
}
a:hover {
color: #fff;
background-color: #071e3d;
}
img{
max-width: 100%;
height: auto;
vertical-align: bottom;
}

/* 複数箇所で使い回す指定 */
.text-center {
text-align: center;
}
.uppercase {
text-transform: uppercase;
}
h2 {
	margin: 0 0 5rem;
	font-size: 3rem;
	font-weight: 300;
	color: #a8a698;
	letter-spacing: .3125rem;
}

/* ヘッダー */
header {
	display: flex;
	padding-bottom: 6.25rem;
	background-color: #f1f0e9;
}
.button-menu {
	padding: 1.25rem;
	margin: 0 0 0 auto;
	font-size: 2.25rem;
	line-height: 0;
	color: #a8a698;
}

/* メイン */
/* プロフィール部分 */
.profile {
	background-color: #f1f0e9;
}
.profile .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 64%;
	margin: 0 auto;
}
.profile-name {
	padding: 0 0 1.25rem 0;
	margin: 0;
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .1875rem;
	line-height: normal;
	color: #a8a698;
}
.profile-name span {
	display: block;
	font-size: 3.5rem;
	letter-spacing: .3125rem;
	color: #071e3d;
}
.profile-introduction {
	margin: 0 0 3.75rem;
}
.profile-image {
	margin: 3.75rem 0 0 2.5rem;
	border-radius: 50%;
}
/* Moreボタン、メールボタン、SNSボタン部分 */
ul.contact {
	padding: 0;
	margin-bottom: 11.25rem;
}
ul.contact li {
	display: inline-block;
	margin-right: 1.25rem;
	vertical-align: middle;
}
ul.contact a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.75rem;
	height: 3.75rem;
	font-size: 1.875rem;
	line-height: 0;
	color: #fff;
	border-radius: 50%;
	background-color: #a8a698;
}
ul.contact a:hover {
	background-color: #071e3d;
}
ul.contact li.contact-button-more {
	margin-right: 2.5rem;
}
ul.contact li.contact-button-more a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12.5rem;
	height: 3.75rem;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1;
	background-color: #071e3d;
	border-radius: 1.875rem;
	box-sizing: border-box;
}
/* Skills部分 */
.skills {
	padding: 5rem 0 7.5rem;
	background-color: #fff;
}
.skills .container {
	display: flex;
	justify-content: space-between;
	max-width: 67.5rem;
	margin: 0 auto;
}
.skills-box {
	width: 32%;
	padding: 2.5rem;
	color: #fff;
	box-shadow: -.75rem .625rem .75rem rgba(0, 0, 0, 0.25);
}
.color-a {
	background-color: #4b20da;
}
.color-b {
	background-color: #15c3d3;
}
.color-c {
	background-color: #d94665;
}
.skills-box-heading {
	display: flex;
	align-items: center;
	margin-bottom: 1.25rem;
}
.skills i {
	margin: 0 1.25rem 0 0;
	font-size: 2.75rem;
	color: #fff;
}
.skills h3 {
	margin: 0;
	font-size: 2.625rem;
	font-weight: 400;
}
.skills p {
	line-height: 2;
}
/* Works部分 */
.works {
	padding: 5rem 0 11.25rem;
	background-color: #f1f0e9;
}
.works .container {
	display: flex;
	flex-wrap: wrap;
	column-gap: 2%;
	row-gap: 2.5rem;
	max-width: 67.5rem;
	margin: 0 auto;
}
.works-box {
	position: relative;
	width: 32%;
	color: #555;
	background-color: #fff;
	box-shadow: -1rem 1.25rem 1rem rgba(0, 0, 0, 0.04);
}
.works-box-inner {
	height: 7.5rem;
	padding: 1.25rem;
	box-sizing: border-box;
}
.works-box-inner h3 {
	margin: 0;
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5;
}
.works-box-inner span {
	position: absolute;
	bottom: 1.25rem;
	font-size: .75rem;
	color: #a8a698;
}

/* フッター部分 */
footer {
	padding: 1.25rem 0;
	font-size: .875rem;
	font-weight: 300;
	text-align: center;
	color: #fff;
	background-color: #a8a698;
}